main{
    background-color: darkkhaki;
    width: 1000px;
    height: 500px;
    float: left;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
nav{
    background-color: green;
    width: 1000px;
    height: 100px;
    float: left;
    list-style: none;
    border-top: 10px solid black;
    border-bottom: 5px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}
nav li{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 30px;
}
.box{
    background-color: white;
    height: 40px;
    float: left;
    margin-left: 21px;
    margin-top: 15px;
}
header{
    background-color: mediumblue;
    width: 1000px;
    height: 300px;
    float: left;
    list-style: none;
    border-top: 5px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 5px solid black;
}
.banner{
    background-color: white;
    width: 800px;
    height: 290px;
    float: left;
    margin: 5px;
}
.logo{
    background-color: white;
    width: 180px;
    height: 90px;
    float: left;
    margin: 5px;
}
.login{
    background-color: white;
    width: 180px;
    height: 90px;
    float: left;
    margin: 5px;
}
.form{
    background-color: white;
    width: 180px;
    height: 90px;
    float: left;
    margin: 5px;
}
aside{
    background-color: white;
    width: 200px;
    height: 490px;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
}
article{
    background-color: white;
    width: 500px;
    height: 490px;
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}
footer{
    background-color: yellow;
    width: 1000px;
    height: 50px;
    float: left;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 5px solid black;
    border-bottom: 10px solid black;
}